<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center">
            <h3 >Hello, <span th:text="${friendName}"></span></h3>
            <h3 >Your friend  <span th:text="${userName}"></span></h3>
            <h3>invite You to join our community!</h3>
            <p>UaTransport is a unique system for assessing the quality of public transport. </p>
            <p>When you leave a feedback, you help to improve the transport situation in your city</p>
            <h3>Please, follow this link</h3>
            <a th:href="${invitationLink}">Please, follow this link</a>
            <p></p>
            <hr>
            <p>With best regards support team.</p>
        </div>
    </div>
</div>

</body>
</html>